<ul class = "sidenav bg-dark text-light m-0">
  <li class="p-2 mt-3 active"><h2><%=current_user.role%></h2><h4><%=current_user.name%></h4></li>
  <li class="nav-item" onclick="hide()" role="button"><a class="nav-link text-light p-2" href="/" role="button"><%=t('nav.menu.home')%></a></li>
  <li class="nav-item" role="button"><a class="nav-link text-light p-2" href="/orders"><%=t('nav.menu.orders')%></a></li>
  <li class="nav-item dropdown">
    <a class="nav-link text-light dropdown-toggle p-2" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
      <%=t('nav.menu.category')%>
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <%@category.each do |c|%>
        <li class="dropdown-item ps-2"><a class="nav-link text-dark p-2" href="/product_categories/<%=c.id%>"><%=t("subcat.#{c.name}")%> &raquo;</a></li>
      <% end %>
    </ul>
  </li>
  <li>
    <a class="nav-link text-light dropdown-toggle p-2" id="lanDropdown" role="button" data-bs-toggle="dropdown">
      Language
    </a>
    <ul class="dropdown-menu">
      <li class="dropdown-item ps-2"><%= link_to 'English', root_path(locale: :en), class:"nav-link text-dark p-2" %></li>
      <li class="dropdown-item ps-2"><%= link_to 'Русский', root_path(locale: :ru), class:"nav-link text-dark p-2" %></li>
      <li class="dropdown-item ps-2"><%= link_to 'Spanish', root_path(locale: :es), class:"nav-link text-dark p-2" %></li>
    </ul>
  </li>
  <%= link_to t('nav.menu.logout'), destroy_user_session_path, :method => :delete, class: 'btn btn-outline-success mt-5 ms-2' %>
</ul>

<div class="container border">
  <h1><%=@subcategory.name%>s</h1>
  <% @subcategory.subcategories.each do |c| %>
    <ul>
      <li>
        <%=c.name%>
      </li>
    </ul>
  <% end %>

  <div class="row">
    <%@product.where(product_category_id: @subcategory.subcategories.ids).each do |p|%>
      <div class="card mx-1 my-2" style="width: 20rem;">
        <% if p.image.attached? %>
          <img src="<%=url_for(p.image)%>" class="card-img-top rounded mt-2" style="height:200px; width:285px">
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%=p.name%></h5>
          <p class="card-text"><%=p.description%></p>
          <p class="card-text"><strong>Price : </strong> ₹<%=p.price%></p>
          <%= link_to "View", product_path(p.id), :method => :get, class: 'btn btn-outline-primary mx-2'%>
        </div>
      </div>
    <% end %>
  </div>
</div>